# ======================
# Python
# ======================
__pycache__/
*.pyc
*.py[cod]
*$py.class

# ======================
# Virtual Environments
# ======================
venv/
.venv/
env/
ml_env/

# ======================
# Environment Variables
# ======================
.env
.env.*
!.env.example

# ======================
# Editor / OS
# ======================
.vscode/
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log
