/* index.css = RESET ONLY */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-primary);
}